force-app/main/default/flows/Case_Wrap_Up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Churn</name>
        <label>Churn</label>
        <locationX>803</locationX>
        <locationY>1140</locationY>
        <actionName>OpenAIChat</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_order_number</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <elementReference>Get_Chrun.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>model</name>
            <value>
                <stringValue>gpt-4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prompt</name>
            <value>
                <elementReference>Get_Chrun.Instructions__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>temperature</name>
            <value>
                <numberValue>0.2</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Classification</name>
        <label>Classification</label>
        <locationX>803</locationX>
        <locationY>708</locationY>
        <actionName>OpenAIChat</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Urgency</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <elementReference
        >Get_Classification.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>model</name>
            <value>
                <stringValue>gpt-4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prompt</name>
            <value>
                <elementReference>ClassificationPrompt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>temperature</name>
            <value>
                <numberValue>0.3</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Escalate</name>
        <label>Escalate</label>
        <locationX>143</locationX>
        <locationY>708</locationY>
        <actionName>OpenAIChat</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <elementReference>Get_Escalate.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>model</name>
            <value>
                <stringValue>gpt-4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prompt</name>
            <value>
                <elementReference
        >Get_Escalate.Instructions__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>temperature</name>
            <value>
                <numberValue>0.2</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Next_steps</name>
        <label>Next steps</label>
        <locationX>671</locationX>
        <locationY>1896</locationY>
        <actionName>OpenAIChat</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <elementReference
        >Get_next_steps.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>model</name>
            <value>
                <stringValue>gpt-4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prompt</name>
            <value>
                <elementReference>NextStepsPrompt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>temperature</name>
            <value>
                <numberValue>0.7</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Order_number</name>
        <label>Order number</label>
        <locationX>803</locationX>
        <locationY>1356</locationY>
        <actionName>OpenAIChat</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Case_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <elementReference
        >Get_order_number.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>model</name>
            <value>
                <stringValue>gpt-4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prompt</name>
            <value>
                <elementReference>OrderPrompt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>temperature</name>
            <value>
                <numberValue>0.7</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Reply2</name>
        <label>Reply</label>
        <locationX>407</locationX>
        <locationY>1680</locationY>
        <actionName>OpenAIChat</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Upd_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <elementReference>Reply_Get.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>model</name>
            <value>
                <stringValue>gpt-4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prompt</name>
            <value>
                <elementReference>Reply</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>temperature</name>
            <value>
                <numberValue>0.7</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Request_to_API</name>
        <label>Request to API</label>
        <locationX>671</locationX>
        <locationY>1680</locationY>
        <actionName>OpenAIChat</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_next_steps</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <elementReference>Get_CMT.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>model</name>
            <value>
                <stringValue>gpt-4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prompt</name>
            <value>
                <elementReference>Prompt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>temperature</name>
            <value>
                <numberValue>0.7</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Sentiment</name>
        <label>Sentiment</label>
        <locationX>473</locationX>
        <locationY>384</locationY>
        <actionName>OpenAIChat</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sentiment_Result</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <elementReference>Get_sentiment.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>model</name>
            <value>
                <stringValue>gpt-4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prompt</name>
            <value>
                <elementReference>SentimentPrompt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>temperature</name>
            <value>
                <numberValue>0.7</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Urgency</name>
        <label>Urgency</label>
        <locationX>803</locationX>
        <locationY>924</locationY>
        <actionName>OpenAIChat</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Chrun</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <elementReference>Get_Urgency.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>model</name>
            <value>
                <stringValue>gpt-4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prompt</name>
            <value>
                <elementReference>Get_Urgency.Instructions__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>temperature</name>
            <value>
                <numberValue>0.2</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Case_Status</name>
        <label>Case Status</label>
        <locationX>803</locationX>
        <locationY>1464</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Working</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reply_Get</targetReference>
            </connector>
            <label>Working</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CMT</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd_case_2</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sentiment_Result</name>
        <label>Sentiment Result</label>
        <locationX>473</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Get_Classification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Positive or Neutral</defaultConnectorLabel>
        <rules>
            <name>Negative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sentiment.res</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>negative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Escalate</targetReference>
            </connector>
            <label>Negative</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ClassificationPrompt</name>
        <dataType>String</dataType>
        <expression
    >{!Get_Classification.Template__c} + &quot; Here is the conversation to summarize: &quot; + {!$Record.Description}</expression>
    </formulas>
    <formulas>
        <name>NextStepsPrompt</name>
        <dataType>String</dataType>
        <expression
    >{!Get_next_steps.Template__c} + &quot; Here is the conversation to summarize: &quot; + {!$Record.Description}</expression>
    </formulas>
    <formulas>
        <name>OrderPrompt</name>
        <dataType>String</dataType>
        <expression
    >{!Get_order_number.Instructions__c} + &quot; Here is the conversation to summarize: &quot; + {!$Record.Description}</expression>
    </formulas>
    <formulas>
        <name>Prompt</name>
        <dataType>String</dataType>
        <expression
    >{!Get_CMT.Template__c} + &quot; Here is the conversation to summarize: &quot; + {!$Record.Description}</expression>
    </formulas>
    <formulas>
        <name>Reply</name>
        <dataType>String</dataType>
        <expression
    >{!Reply_Get.Template__c} + &quot; Here is the conversation to summarize: &quot; + {!$Record.Description}</expression>
    </formulas>
    <formulas>
        <name>SentimentPrompt</name>
        <dataType>String</dataType>
        <expression
    >{!Get_sentiment.Template__c} + &quot; Here is the conversation to summarize: &quot; + {!$Record.Description}</expression>
    </formulas>
    <interviewLabel>Case Wrap-Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Wrap-Up</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Chrun</name>
        <label>Get Chrun</label>
        <locationX>803</locationX>
        <locationY>1032</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Churn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Potential_Churn_Indicator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PromptSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Classification</name>
        <label>Get Classification</label>
        <locationX>803</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Classification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Classification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PromptSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CMT</name>
        <label>Get CMT</label>
        <locationX>671</locationX>
        <locationY>1572</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_to_API</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wrap_Up</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PromptSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Escalate</name>
        <label>Get Escalate</label>
        <locationX>143</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Escalate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Escalation_Recommended</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PromptSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_next_steps</name>
        <label>Get next steps</label>
        <locationX>671</locationX>
        <locationY>1788</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Next_steps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Next_Steps</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PromptSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_order_number</name>
        <label>Get order number</label>
        <locationX>803</locationX>
        <locationY>1248</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order_Number</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PromptSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_sentiment</name>
        <label>Get sentiment</label>
        <locationX>473</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sentiment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sentiment_Analysis</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PromptSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Urgency</name>
        <label>Get Urgency</label>
        <locationX>803</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Urgency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Urgency_Indicator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PromptSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Reply_Get</name>
        <label>Reply Get</label>
        <locationX>407</locationX>
        <locationY>1572</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reply2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Next_Reply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PromptSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Upd_Case</name>
        <label>Upd Case</label>
        <locationX>407</locationX>
        <locationY>1788</locationY>
        <inputAssignments>
            <field>Classification__c</field>
            <value>
                <elementReference>Classification.res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Recommended__c</field>
            <value>
                <elementReference>Escalate.res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Number__c</field>
            <value>
                <elementReference>Order_number.res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Potential_Churn_Indicator__c</field>
            <value>
                <elementReference>Churn.res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reply_Suggestion__c</field>
            <value>
                <elementReference>Reply2.res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sentiment__c</field>
            <value>
                <elementReference>Sentiment.res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgency_Indicator__c</field>
            <value>
                <elementReference>Urgency.res</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upd_case_2</name>
        <label>Upd case 2</label>
        <locationX>935</locationX>
        <locationY>1572</locationY>
        <inputAssignments>
            <field>Classification__c</field>
            <value>
                <elementReference>Classification.res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Recommended__c</field>
            <value>
                <elementReference>Escalate.res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Number__c</field>
            <value>
                <elementReference>Order_number.res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Potential_Churn_Indicator__c</field>
            <value>
                <elementReference>Churn.res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sentiment__c</field>
            <value>
                <elementReference>Sentiment.res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgency_Indicator__c</field>
            <value>
                <elementReference>Urgency.res</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>671</locationX>
        <locationY>2004</locationY>
        <inputAssignments>
            <field>Classification__c</field>
            <value>
                <elementReference>Classification.res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Recommended__c</field>
            <value>
                <elementReference>Escalate.res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps__c</field>
            <value>
                <elementReference>Next_steps.res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Number__c</field>
            <value>
                <elementReference>Order_number.res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Potential_Churn_Indicator__c</field>
            <value>
                <elementReference>Churn.res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sentiment__c</field>
            <value>
                <elementReference>Sentiment.res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgency_Indicator__c</field>
            <value>
                <elementReference>Urgency.res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up__c</field>
            <value>
                <elementReference>Request_to_API.res</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 OR ( 2 AND 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_sentiment</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
