force-app/main/default/flows/Event_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Format_Meeting_Notes</name>
        <label>Format Meeting Notes</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>OpenAIChat</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Task_Create</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <elementReference
        >Get_Meeting_Notes_Formatter.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>model</name>
            <value>
                <stringValue>gpt-4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prompt</name>
            <value>
                <elementReference>MeetingNotesPrompt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>temperature</name>
            <value>
                <numberValue>0.3</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Task_Create</name>
        <label>Task Create</label>
        <locationX>308</locationX>
        <locationY>600</locationY>
        <actionName>OpenAIChat</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Event</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <elementReference
        >Get_Task_Create.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>model</name>
            <value>
                <stringValue>gpt-4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prompt</name>
            <value>
                <elementReference>TaskPrompt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>temperature</name>
            <value>
                <numberValue>0.3</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>MeetingNotesPrompt</name>
        <dataType>String</dataType>
        <expression
    >{!Get_Meeting_Notes_Formatter.DCGPT__Instructions__c} + {!$Record.Description}</expression>
    </formulas>
    <formulas>
        <name>TaskPrompt</name>
        <dataType>String</dataType>
        <expression
    >&quot;Meeting notes: &quot; + {!$Record.Description} + &quot; Instructions: &quot; +  {!Get_Task_Create.DCGPT__Instructions__c} + &quot; accountId = &quot; + {!$Record.WhatId} + &quot; contactId= &quot; + {!$Record.WhoId} + &quot; userId= &quot; + {!$User.Id} + &quot; todays date: &quot; + TEXT({!$Record.LastModifiedDate}) + &quot; managertId= &quot; + {!$User.DCGPT__AssistantId__c}</expression>
    </formulas>
    <interviewLabel
  >Event After-Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event After-Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Meeting_Notes_Formatter</name>
        <label>Get Meeting Notes Formatter</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Format_Meeting_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MeetingNotes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PromptSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Create</name>
        <label>Get Task Create</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TaskCreate</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PromptSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event</name>
        <label>Update Event</label>
        <locationX>308</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Format_Meeting_Notes.res</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Meeting_Notes_Formatter</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
